@model Clean.Application.Dtos.ProductDTO
@{
    ViewData["Title"] = "Delete - products";
}

<form asp-action="DeleteId" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="text-center">
        <h2>Deseja deletar o produto @Html.DisplayFor(x=>x.Name)?</h2>
        <a href="@Url.Action("Index","Categories")" title="Details" class="btn btn-secondary">
            <span class="fas fa-search">Back</span>
        </a>
        <button type="submit" class="btn btn-success">Delete</button>
    </div>
</form>